<!doctype html>
<html>
  <head>
    <!-- charset is html attribute and utf is a value -->
    <meta charset="utf-8">
    <title>star dude(in advance)</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  <header>buddy lee is the greatest cat ever</header>
    <nav>
      <a href = "/">home page</a>
      <a href = "/dogs">you're a dog</a>
      <a href = "/cats">it's cool bruddah, u didn't hurt me</a>
      <a href = "/ninjas">do yr worst you ninja bastards</a>
      <a href = "/pirates">do yr worst you pirate bastards</a>
    </nav>
    <article>
      <p>garfield minus garfield is funny</p>
      <img src="http://31.media.tumblr.com/fSymsOGXO922f4423EF5H1hb_500.gif">
      <img src="http://38.media.tumblr.com/tumblr_kvlaq6H2F01qz8z2ro1_500.png">
      <iframe width="420" height="315" src="//www.youtube.com/embed/Ml8mnc7WciA" frameborder="0" allowfullscreen></iframe>
    </article>
    <footer>
      <small>(c) cats</small>
    </footer>
  </body>
</html>
