<!doctype html>
<html>
  <head>
    <!-- charset is html attribute and utf is a value -->
    <meta charset="utf-8">
    <title>Dog prom</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  <header>Ride my DOG!</header>
    <nav>
      <a href = "/">home page</a>
      <a href = "/dogs/">you're a dog</a>
      <a href = "/cats/">you're a cat</a>
      <a href = "/ninjas">do yr worst you ninja bastards</a>
      <a href = "/pirates">do yr worst you pirate bastards</a>
    </nav>
    <article>
      <img src="http://bushluv.tripod.com/dog3.gif">
      <img src="http://bushluv.tripod.com/dog4.gif">
      <iframe width="560" height="315" src="//www.youtube.com/embed/6lBPJEOUlDU" frameborder="0" allowfullscreen></iframe>
    </article>
    <footer>
      <small>(c) Dogs</small>
    </footer>
  </body>
</html>
