<!doctype html>
<html>
  <head>
    <!-- charset is html attribute and utf is a value -->
    <meta charset="utf-8">
    <title>knife guy(left behind)</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  <header>ninjas</header>
    <nav>
      <a href = "/">home page</a>
      <a href = "/dogs">you're a dog</a>
      <a href = "/cats">it's cool bruddah, u didn't hurt me</a>
      <a href = "/ninjas">do yr worst you ninja bastards</a>
      <a href = "/pirates">do yr worst you pirate bastards</a>
    </nav>
    <article>
      <p>come on everybody ninja time</p>
      <img src="/images/ninja1.jpg">
      <img src="/images/ninja2.jpg">
      <img src="/images/ninja3.jpg">
      <h1>inspirational/informative:</h1>
      <iframe width="560" height="315" src="//www.youtube.com/embed/-0fLNTWNaAs" frameborder="0" allowfullscreen></iframe>
    </article>
    <footer>
      <small>(c) ninjas</small>
    </footer>
  </body>
</html>
