
<!doctype html>
<html>
  <head>
    <!-- charset is html attribute and utf is a value -->
    <meta charset="utf-8">
    <title>star dude(in advance)</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>Pirates</h1>
    <nav>
      <a href = "/">home page</a>
      <a href = "/dogs">you're a dog</a>
      <a href = "/cats">it's cool bruddah, u didn't hurt me</a>
      <a href = "/ninjas">do yr worst you ninja bastards</a>
      <a href = "/pirates">do yr worst you pirate bastards</a>
    </nav>
    <div class="super">1</div>
    <div class="super">2</div>
    <div class="super">3</div>
    <div id="awesome">4</div>
  </body>
</html>
